* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'josefin sans', sans-serif;
}

/* h1{ 
    background-color: orange;
    color:white;
}  */

.hero {
    background-color: black;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 2px;
    cursor: pointer;
}

span {
    color: red;
}

/* a{
    color: white;
    text-decoration: none;
} */
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
    transition: .4s;
}

.abc {
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.abc:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

/* body{
    margin-left: 50px;
    margin-right: 50px;
    background-color: black;
} */
/* .search{
    padding: 20px;
}
.search{
    padding: 10px;
    background-color: aliceblue;
    height: 35px;
    width: max-content;
    border-radius: 24px;
    display: flex;
    align-items: center;
}
form{
    display: flex;
}
input{
    border: none;
}
button{
        border: none;
    background-color: red;
    padding: 7px;
    border-radius: 22px;
    font-weight: 700;
    color: white;
    position: relative;
    left: 7px;;

} */
h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 65px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 27px;
    margin-top: 8px;
}

h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 16px;
}

.search form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.search form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}

.search form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

img {
    height: 500px;
    width: 450px;
    border-radius: 15px;
    margin-left: 10%;
    margin-left: 10px;
}

.about h1 {
    font-size: 65px;
    color: mediumseagreen;
}

.about p {
    font-size: 20px;
}

.image {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about h3 {
    color: #000;
}

button {
    margin-bottom: 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    font-family: Verdana;

}

span {
    font-weight: 600;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.inline {
    background-color: #1f1b1b;
    box-shadow: -1px 1px 5px 9px #313030;
    /* -moz-box-shadow: -10px 90px 50px 9px #313030;
    box-shadow:70px -50px -4px 5px rgb(10 10 10); */
    margin-top: -3%;
    margin-bottom: -3%;
}


/* boxes style starts */
.last {
    background-color: black;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: -1px 1px 5px 9px rgb(10 10 10);
    -moz-box-shadow: -1px 1px 5px 9px rgb(10 10 10);
    box-shadow: -7px -50px -4px 5px rgb(10 10 10);
    margin-bottom: 50px;
}



.services h1 {
    font-size: 65px;
    color: hotpink;
    text-align: center;
    margin-top: 40px;
    padding-top: 90px;
}

i {
    color: blue;
    align-items: center;
    padding-bottom: 15px;
}

p {
    color: burlywood;
    line-height: 24px;
    padding-bottom: 15px;

}

.box {
    background-color: rgba(43, 41, 41, 0.822);
    height: 250px;
    width: 274px;
    border-radius: 28px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
}

.user {
    background-color: rgba(43, 41, 41, 0.822);
    height: 250px;
    width: 274px;
    border-radius: 28px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
}

.bell {
    background-color: rgba(43, 41, 41, 0.822);
    height: 250px;
    width: 274px;
    border-radius: 28px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
}

.icons {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 161px;
    padding-top: 40px;
}

.icons a {
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 25px;
    transition: transform .4s;
    font-family: Verdana;
    background-color: rgb(9, 9, 243);
    font-size: 12px;
}

.icons h3 {
    color: rgb(153, 190, 50);
    margin-bottom: 16px;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

/* boxes style ends */


/*  hireme class*/
.hireme {
    background-color: black;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 150px;

}

.hireme a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    margin-bottom: 20px;
}

.hireme a:hover {
    transform: scale(1.2);
}

.hireme h3 {
    color: hotpink;
    text-align: center;
    margin-top: 40px;
    padding-top: 90px;
    font-size: 30px;
}

.color {
    background-color: rgb(24, 22, 22);
    height: 250px;
    box-shadow: -1px 1px 5px 9px #313030;
    -moz-box-shadow: -1px 1px 5px 9px #313030;
    box-shadow: -7px -50px 14px rgb(10 10 10);
}


/* footer section */
.footer {
    margin-bottom: 70px;
}

.name a {
    padding: 10px;
    font-size: 18px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.name h2 {
    color: #f9004d;
    font-size: 28px;
}

.name {
    padding-top: 90px;
}
.myskills{
    height: 100vh;
    width: 100%;
    margin-top: -4%;
   background-color: #3b3a3a;
   padding-top: 4%;
}
.myskills h3{
    color:rgb(153, 190, 50) ;
    margin-bottom: 16px;
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.myskills h1{
    align-items: center;
    color: #f72105;
    text-align: center;
}
.skills{
    height:50%;
    width:90%;
    justify-content: center;
    text-align: center;
    margin-left: 4%;
    margin-top:4%;
    display: inline-flex;
}
.html{
    line-height: 20px;
    padding-right: 30px;
    padding-left: 10px;
    background-color:rgba(43, 41, 41, 0.822);
    height:100% ;
    width: 27%;
    border-radius: 21px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
}
.css{
    line-height: 20px;
    padding-right: 30px;
    padding-left: 10px;
    background-color:rgba(43, 41, 41, 0.822);
    height:100% ;
    width: 27%;
    border-radius: 21px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
}
.js{
    line-height: 20px;
    padding-right: 30px;
    padding-left: 10px;
    background-color:rgba(43, 41, 41, 0.822);
    height:100% ;
    width: 27%;
    border-radius: 21px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
}
.myskills p{
color: #f79bb8;
}
.myskills h3{
    color: orange;
}
.myskills i{
    color: wheat;
    font-size: 30px;
}
/* skills file */

/* contacts file  styles start*/
.contact{
    height: 135vh;
    width: 100%;
    margin-top: -4%;
   background-color: #3b3a3a;
   padding-top: 4%;
  
}
.details input{
    display: inline-block;
	width: 30%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #646061;
	outline: none;
	border-radius: 27px;
}
.details p{
    font-size: 25px;
    color:aqua;
}
.details form{
    margin-left: 80px;
}
.contact h1{
    text-align: center;
    color: olivedrab;
}
.details a{
    color: wheat;
    background-color: #bd0c64;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    margin-left: 22%;
}
.email{
    margin-left: 60%;
    margin-top: -40%;
}
.details{
    display: inline;
}
.email p{
    color:#646061;
    font-size: 50px;
    line-height: 60px;
}
.email i{
    font-size:50px ;
    color: #858585;
}